
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #007bff;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "navbar navbar"
    "heading_1 heading_1"
    "vid_1 vid_1"
    "heading_2 heading_2"
    "vid_2 paragraph_1"
    "vid_3 paragraph_2"
    "vid_4 paragraph_3"
    "footer footer";
}

.navbar {
    grid-area: navbar;
    background-color: #D9DCD6;
    padding: 20px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline;
    padding: 20px;
    background-color: #ADD8E6;
}



button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

main {
    padding: 20px;
}

#faq {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
}

.faq-answer {
    display: none;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
}

.heading_1 {
    grid-area: heading_1;
    background-color: #FBDA0C;
    text-align: center;
}

.vid_1 {
    grid-area: vid_1;
    width: 10%;
    height: auto;
}

.paragraph_1 {
    grid-area: paragraph_1;
    background-color: #FBDA0C;
}

.heading_2 {
    grid-area: heading_2;
    background-color: #FBDA0C;
    text-align: center;
}

.vid_2   {
    grid-area: vid_2;
    width: 10%;
    height: auto;
}

.paragraph_2 {
    grid-area: paragrpah_2;
    background-color: #FBDA0C;
    padding: 30px;
    font-family: "Workbench", sans-serif;

}
.vid_3 {
    grid-area: vid_3;
    width: 10%;
    height: auto;
}

.paragraph_3 {
    grid-area: paragrpah_3;
    background-color: #FBDA0C;
    padding: 30px;
    font-family: "Workbench", sans-serif;
}

.vid_4 {
    grid-area: vid_4;
    width: 10%;
    height: auto;
}

.footer {
    grid-area: footer;
    background-color: #0057AD;
    text-align: center;
}

.resize {
    width: 400px; 
    height: auto;
}
